.backimg{
    min-height: 500px;
    background-image: url("karopoly/a.png");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
    font-family: Elham;
    src: url('http://fonts.codearena.ir/b/elham/elham.eot');
    src: url('http://fonts.codearena.ir/b/elham/elham.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/b/elham/elham.woff') format('woff'),
         url('http://fonts.codearena.ir/b/elham/elham.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Jalal;
    src: url('http://fonts.codearena.ir/b/jalal/jalal.eot');
    src: url('http://fonts.codearena.ir/b/jalal/jalal.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/b/jalal/jalal.woff') format('woff'),
         url('http://fonts.codearena.ir/b/jalal/jalal.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Parastoo;
    src: url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/parastoo/parastoo.ttf') format('truetype');
    font-weight: normal;
  }  

 html *{
     font-family:Parastoo, Arial, Helvetica, sans-serif;
 }

.class1{

    padding-top: 28vh;
    padding-left: 42vw;
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.class2{

    padding-top: 10vh;
    padding-left: 28vw;
    padding-right: 28vw;
 }

.class3{

    color: #3f51b5;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 50px;
}

footer{

    background: #00051d;
    background: -webkit-linear-gradient(59deg, #00051d, #16222A);
    background: linear-gradient(59deg, #00051d, #16222A);
    text-align: right;
    color: white;
    margin-top:100px;
    padding: 18px 0;
    overflow: hidden;
}

footer a {

    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    text-align: center;
    width: 30px;
    height: 30px;
}

 footer a:hover{

    color: #fff;
}

hr{
    background: #f48020;
}

.svgs div{

    color: gray;
}

#handtxt{
    margin-top: 20px;
    margin-left: -27px;
}

#handimg{
    margin-top: 10px;
}

#shoptxt{
    margin-top: 10px;
    margin-left: 25px;
}

#shopimg{
    margin-top: 10px;
}

#coffeeimg{
    margin-top: 4px;
}

#coffeetxt{
    margin-top: 6px
}

#appleimg{
    margin-top: 6px;
}

#appletxt{
    margin-top: 5px;
    margin-left: -27px;
}

#factorytxt{
    margin-left: -29px;
}

#moreimg{
    margin-top: 50px;
}

#moretxt{
    margin-top: 30px;
}

.form-control{
    background-color: #2c3148;
    border: none;
}

.dropdown-toggle {
    display:none;
    border: white; 
    box-shadow: none;
}

#search{
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover div
{
    color: #0e43f2;
}  

.registerBtn{
    background-color: #0e43f2;
}

